spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/homer?characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER_NAME}
    password: ${MYSQL_USER_PASSWORD}
  sql.init.mode: always

cors:
  allow-methods: [ 'GET', 'POST', 'PUT', 'DELETE' ]
  allow-origins: [ 'http://localhost:3000' ]
